html {
    height: 100%;
    background: radial-gradient(ellipse, #332c2c, #1e1414);
}

/*The introduction of the game*/
#container1 {
    width: 600px;
    height: 500px;
    background: linear-gradient( #0a88b2, #9dd2ea, #0a88b2, #9dd2ea);
    margin: 50px auto;
    padding: 20px ;
    border-radius: 30px;
    position: relative;
    display: block;
}

#waste {
    width: 600px;
    height: 10px;
/*    margin-bottom: 10px;*/
    display: block;
}

#language {
    width: 40px;
    height: 40px;
    background-color: #d0e81b;
    text-align: center;
    line-height: 2.6;
    right: 20px;
    position: relative;
    border-radius: 40px;
    margin-left: 550px;
    box-shadow: 0px 2px #64700b;
    cursor: pointer;
    font-family: cursive;
    display: block;
}

#language:hover{
    background-color: #9aad0a;
    color: white;
    box-shadow: 0px 2px #404704;   
}

#language:active{
    box-shadow: 0px 0px black;
    top: 1px;
}

#title {
    background: linear-gradient( #098961, #1edb9f, #4eb283);
    margin-left: 50px;
    width: 500px;
    border-radius: 30px;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    font-family: cursive;
    color: white;
/*    margin-bottom: 30px;*/
    display: block;
}

.mode {
    width: 170px;
    height: 50px;
    background-color: #e5a912;
    text-align: center;
    font-family: cursive;
    line-height: 3;
    margin:0px 210px 20px;
    box-shadow: 0px 3px #752709;
    position: relative;
    cursor: pointer;
    display: block;
}

.mode:hover{
    background-color: #d8480f;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 2px #404704;   
}

.mode:active{
    box-shadow: 0px 0px black;
    top: 1px;
}

#sarcasm {
    width: 600px;
    height: 450px;
    background-color: red;
    color: white;
    font-family: cursive;
    top: 80px;
    position: absolute;
    text-align: center;
    font-size: 90px;
    line-height: 2;
    z-index: 2;
    border-radius: 30px;
    display: none;
}

/*///////////////////////////////////////////////////*/
/*Choose the difficulty of the game mode*/
#second {
    display: none;
    width: 600px;
    height: 400px;
    top: 80px;
    position: absolute;
/*    text-align: center;*/

}

#difficult {
    font-style: italic;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}

.row {
    width: 600px;
    height: 80px;
}

.difficulty {
    text-align: center;
    line-height: 4;
    width: 200px;
    height: 70px;
    font-family: cursive;
    position: relative;
    margin: 0px 15px 50px 65px;
    float: left;
    background-color: #ae6ff2;
    box-shadow: 0px 4px #260549;
    cursor: pointer;
    border-radius: 20px;
}

.difficulty:hover{
    background-color: #d8480f;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 2px #404704;   
}

.difficulty:active{
    box-shadow: 0px 0px black;
    top: 1px;
}


/*///////////////////////////////////////////////////*/
/*The content of the game*/
#container2 {
    height: 500px;
    width: 600px;
    background-color: #9dd2ea;
    margin: 50px auto;
    padding: 20px ;
    font-family: cursive;
    border-radius: 20px;
/*    box-shadow: 4px 4px #F016DE;*/
    position: relative;
    display: none;
}

#score {
    width: 120px;
    height: 40px;
    background-color: #d0e81b;
    text-align: center;
    line-height: 2.6;
    right: 20px;
    position: relative;
    margin-left: 500px;
/*    box-shadow: 0px 2px #64700b;*/
    display: block;
    
}

#correct{
    position: absolute;
    left: 10px;
    background-color: blueviolet;
    color: white;
    padding: 11px;
    display: none;
    
}

#wrong{
    position: absolute;
    left: 10px;
    background-color: chartreuse; 
    color: white;
    padding: 11px;
    display: none;
}

#question{
    width: 300px;
    height: 150px;
    margin: 80px auto 10px auto;
    background-color: brown;
    font-size: 70px;
    text-align: center;
    line-height: 2;
    font-family:Impact, Charcoal, sans-serif;
    box-shadow: 0px 2px black;
}

#instruction{
    width: 340px;
    height: 50px;
    background-color: blueviolet;
    margin: 10px auto;
    text-align: center;
    line-height: 3;
    box-shadow: 0px 2px black;
}

#choice{
    width: 340px;
    height: 80px;
    margin: 5px auto 10px auto;
/*    background-color: black;*/
    
}

.box{
    width: 70px;
    height: 70px;
    float:left;
/*    margin: 10px 10px 10px 10px;*/
    background-color: aliceblue;
    margin-right: 20px;
    box-shadow: 0px 2px rgba(0,0,100, 10);
    text-align: center;
    line-height: 4.0;
    position: relative;/* for the postion of the button*/
/*
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -ms-transition: all 2s;
*/
    transition: all 1s;
    cursor: pointer;
}

.box:hover{
    background-color: darkgreen;
    color: white;
    box-shadow: 0px 2px black;   
}

.box:active{
    box-shadow: 0px 0px black;
    top: 3px;
}

#box4{
    margin-right: 0;
}

#footer{
    width: 300px;
    height: 50px;
    margin: 10px 10px 0px 250px;;
}

.foot {
    line-height: 2.5;
    text-align: center;
    float: left;
    box-shadow: 0px 2px rgba(0,0,0, 10);
    border-radius: 3px;
}
#reset {
    width: 100px;
    height: 40px;
    background-color: deeppink;
    position: relative;
    cursor:pointer;
}

#reset:hover {
    background-color: darkblue;
    color: white;
}

#reset:active {
    box-shadow: 0px 0px black;
    top: 3px;
}

#timing {
    font-size: 19;
    width: 100px;
    height: 45px;
    line-height: 2.5;
    margin-left: 100px;
    background-color: chartreuse;
    box-shadow: 0px 2px rgba(0,0,100, 10);
/*    visibility: hidden;*/
    display: none;
}


#gameover {
    height: 150px;
    width: 400px;
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 115px;
    z-index: 2;
    background: linear-gradient(#f7d86a, #f75d04);
    display: none;
}
